# configMap / Outline /
# Date d'édition : 29/12/2025
# Créateur : Louis MEDO
apiVersion: v1
kind: ConfigMap
metadata:
  name: outline-config
  namespace: outline
data:

  # ----------
  # | Basics |
  # ----------
  URL: "https://note.loutik.fr"
  DEFAULT_LANGUAGE: "fr_FR"
  PORT: "3000"

  # ----------------------
  # | S3 / Local storage |
  # ----------------------
  FILE_STORAGE: "s3"
  AWS_REGION: "us-east-1"
  AWS_S3_UPLOAD_BUCKET_NAME: "outline"
  AWS_S3_FORCE_PATH_STYLE: "true"
  AWS_S3_UPLOAD_BUCKET_URL: "http://minio.outline.svc.cluster.local:9000"

  # --------------
  # | Connection |
  # --------------
  FORCE_HTTPS: "false"
  PGSSLMODE: "disable"

  # -------------------
  # | SSO / Authentik |
  # -------------------
  OIDC_AUTH_URI: "https://sso.loutik.fr/application/o/authorize/"
  OIDC_TOKEN_URI: "https://sso.loutik.fr/application/o/token/"
  OIDC_USERINFO_URI: "https://sso.loutik.fr/application/o/userinfo/"
  OIDC_LOGOUT_URI: "https://sso.loutik.fr/application/o/outline/end-session/"
  OIDC_USERNAME_CLAIM: "preferred_username"
  OIDC_DISPLAY_NAME: "LoutikSSO"
  OIDC_SCOPES: "openid profile email"